body{
    min-width: 800px;
    background-color: #6bddff;
    background: #77ffd0 linear-gradient(135deg, #6bddff80 0%, #4be3ff 25%, #00bfffb3 50%, #4be3ff 75%, #6bddff80 100%) no-repeat fixed
    /*background: #0085ff linear-gradient(45deg, #6bddff80 0%, #4be3ff 25%, #9bfff2d6 50%, #4be3ff 75%, #6bddff80 100%) no-repeat fixed;*/
}

h1 u{
    text-align: center;
    position: absolute;
    top: 100px;
    color: rgba(173, 255, 47, 0.75);
    /*#cbe7ff;*/
    min-width: 800px;
    width: auto;
}

.main-info{
    background-color: #90f4ff;
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    min-width: 600px;
    height: 100px;
    width: auto;
    border-radius: 10px;
    text-align: center;
}

.container{
    border: 3px #006bff dashed;
    background-color: #9eecff9c;
    position: absolute;
    top: 350px;
    width: calc(50% - 125px);
    min-width: 300px;
    min-height: 350px;
    max-height: 500px;
    /*width: auto;*/
    height: auto;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    margin-bottom: 50px;
}

.recent-posts{
    left: 100px;
}

.post{
    border: 3px #4ebdff dashed;
    background-color: rgba(85, 255, 216, 0.61);
    position: relative;
    margin-top: 10px;
    left:10%;
    width: 80%;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

a{
    background: #00000010;
    border-radius: 50px;
}

/* unvisited link */
a:link {
    color: #f5ffc2;
}

/* visited link */
a:visited {
    color: #f5ffc2;
}

/* mouse over link */
a:hover {
    color: #daff9f;
}

/* selected link */
a:active {
    color: #bac16f;
}

.other{
     right: 100px;
}